body {
  background-color: #35c559;
  color: #111111;
}

button {
  background-color: #35c559;
  color: #111111;
  border-radius: 3px;
}

h1,
h2 {
  background-color: #35c559;
  color: #111111;
  border-radius: 34px;
}

input {
  background-color: #35c559;
  color: #111111;
  border-radius: 34px;
}

.region-content {
  background: aliceblue !important;
  padding: 113px;
  padding-left: 113px;
  padding-left: 217px;
  color: burlywood;
}