<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
  
   
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
   
        <section id="contact" class="contact">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>Solictu Creacion de cuenta </h2>
            </div>
       
            <div class="row mt-1 d-flex justify-content-end" data-aos="fade-right" data-aos-delay="100">
    
              <div class="col-lg-5">
                <div class="info">
                  <div class="address">
                    <i class="bi bi-geo-alt"></i>
                    <h4>Location:</h4>
                    <p>127 d, Bogota, trv 59</p>
                  </div>
    
                  <div class="email">
                    <i class="bi bi-envelope"></i>
                    <h4>Email:</h4>
                    <p>servicioinfo@electro-distribuciones.com/</p>
                  </div>
    
                  <div class="phone">
                    <i class="bi bi-phone"></i>
                    <h4>Call:</h4>
                    <p>+57 3136701425</p>
                  </div>
    
                </div>
    
              </div>
    
              <div class="col-lg-6 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="100">
                {{ form_register }}
              
    
              </div>
    
            </div>
    
          </div>
        </section>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
  </div>
</div>
