<form {{ attributes }}>
  <div class="layout-column layout-column--half">
    {{ form.user_view }}
    {{ form.submit }}
  </div>
  <div class="layout-column layout-column--half">
    {{ form.user_list_wrapper }}
  </div>
</form> 